---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import {getCollection} from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection('blog'))
	.filter(post => post.data.lang === 'en')
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	).slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🐗 Andrey Ozornin</h1>
			<p>
				Product Engineer at <a href="https://framer.com/" class="company-link framer-link">Framer</a>, Amsterdam. 
				Previously at
				<a href="https://miro.com" class="company-link miro-link">Miro</a>, 
				<a href="https://booking.com" class="company-link booking-link">Booking</a>, 
				<a href="https://genestack.com" class="company-link genestack-link">Genestack</a>, 
				<a href="https://wrike.com" class="company-link wrike-link">Wrike</a>, 
				<a href="https://yandex.com" class="company-link yandex-link">Yandex</a>.
			</p>
			<p>
				I code for web, write and make music.
			</p>
			<section class="overview">
				<div>
					<h3><a href="/blog">Latest posts</a></h3>
					<ul>
						{
							posts.map((post) => (
								<li>
									{post.data.emoji ?? '📝'}
									<a href={`/blog/${post.slug}/`}>{post.data.title}</a>{
										post.data.description &&
										<>. {post.data.description}</>
									}
								</li>
							))
						}
					</ul>
				</div>
				<div>
					<h3>Latest projects</h3>
					<ul>
						<li>I am writing a book on debugging web applications. To be published in 2025 by <a href="https://pragprog.com">Pragmatic Programmers</a></li>
						<li>I organized <a href="https://hightechmess.com/">High Tech Mess</a>, a mini-festival of art and technologies</li>
						<li>I played live at <a href="https://youtu.be/Ytjqds8gVOU">SP Sessions</a> made possible by <a href="https://59perlen.com">59perlen</a></li>
						<li>I released <a href="https://threecoloredsquares.bandcamp.com/track/novaya-zemlya">Novaya Zemlya</a>, equally influenced by contemporary classical and dance music</li>
					</ul>
				</div>
			</section>
		</main>
		<style>
			.company-link {
				position: relative;
				transition: color .1s;
				line-height: 1;
				display: inline-block;
				&::before {
					transition: all .1s;
					content: '';
					position: absolute;
					background-color: inherit;
					width: 100%;
					height: 100%;
					box-sizing: content-box;
					padding: 0 4px;
					margin-left: -4px;
					top: 0;
					left: 0;
					border-radius: 50%;
					transform: scale(.5, 0);
					z-index: -1;
				}
				&:hover::before {
					border-radius: 0;
					transform: scale(1);
				}
			}
			.framer-link:hover {
				color: white;
				&::before {
					background-color: black;
				}
			}
			.miro-link:hover {
				color: black;
				&::before {
					background-color: yellow;
				}
			}
			.booking-link:hover {
				color: white;
				&::before {
					background-color: blue;
				}
			}
			.genestack-link:hover {
				color: white;
				&::before {
					background-color: green;
				}
			}
			.wrike-link:hover {
				color: white;
				&::before {
					background-color: green;
				}
			}
			.yandex-link:hover {
				color: black;
				&::before {
					background-color: yellow;
				}
				&::first-letter {
					color: red;
				}
			}

			.overview {
				display: flex;
				margin-top: 2em;
				gap: 1em;

				& > div {
					flex: 1;
				}

				& ul {
					padding-left: 0;
				}

				& li {
					list-style: none;
					padding-bottom: .5em;
				}

				& h3 {
					font-size: 1.5em;
				}
			}

			@media (max-width: 720px) {
				.overview {
					flex-direction: column;
				}
			}
		</style>
		<Footer />
	</body>
</html>
