---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import {getCollection} from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection('blog'))
	.filter(post => post.data.lang === 'en')
	.sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	).slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h1 {
				display: flex;
				align-items: center;
				gap: .25em;
			}
			.portrait {
				background: #27201e;
				border-radius: 50%;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>
				<img class="portrait" width="128" height="128" alt="Traced close-up portrait of Andrey Ozornin" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%3E%3Cstyle%3Epath%7Bstroke-width%3A2px%7D.light%7Bfill%3A%23ab886f%3Bstroke%3A%23ab886f%7D.gray%7Bfill%3A%235f4f48%3Bstroke%3A%235f4f48%7D.dark%7Bfill%3A%2327201e%3Bstroke%3A%2327201e%7D.beige%7Bfill%3A%23d4c3b0%3Bstroke%3A%23d4c3b0%7D%3C%2Fstyle%3E%3Cg%3E%3Cpath%20d%3D%22m207%2028%202%205-2-5ZM221%2028l3%205%209-2%205%202h5l4%201-2%204%206%201-7%207%203%203%203%208%206%204-3-1-10-8-1%204q12%206%203%2011l-4-2h-5q-13%203-16-4l10-3-11-8-9%206%208%202-15%208%205%207-12%205%206%203%2010-7%206%204-15%205-1%203-5-2-5%202-2-5-6-3-1-6-22%205-1-4%203%201%2021-6%201-3%205%202%201-4-5-2-1-4-6-1%201-6%2018-4-1-3%2017%207-2-5-4-1%205-2-6-4-5%202%202-4%208%202%202-5%206-1%201-4Zm-22%2022-1%206-10%202%2010%204%204-2%204-7-7-3Zm-13%203v1l8-1h-8Z%22%20class%3D%22light%22%2F%3E%3Cpath%20d%3D%22M190%2038q7%204%200%207l-4-1%205-2-1-4ZM291%2043l11%208-1%204-7-10-3-2ZM170%2045l2%206-8%203%203%204-5%203-1-4-3%205-8%204%205%202%201-3%204%201-5%209q5%203-1%206l-7%202%202%203%2012-5v3l-9%206%204%201%204-1q-6%203%201%206l5%202%2019-12-2%205-9%206%201%204%2020-10%202%205%205-2q3%208%207%202l10-2v7l-10-3%201%204-1%204-4%201-1%203-6%204%2010%207-3%205q4%207%207%201l6%202-8%202%204%206%204-1-4%206-9%204%207%201%206-1%201-4%202%205%205-8%201%207-7%204%204%202%204-3%205%207%2014-8v-5l3-6%203%207%202-7%205%202q9-4%205-9l3-1%203-10v-5l1-6%204-1%201-4%209%203%207-4q-9%204-3%207l1%204%205-3-2%205-4%202%201%203%2014%201-17%203%205%202%203%206%2035%206-2%2010%207%202-1%204-3-5-1%206%205%2024q-5%203-2%2015v14l-9%2019h-5l-4-3h-27l-3-2-2%205h-10l-15%206-3%204%209%2016%202-7%205%202%2016-11%201-3h14l15-5%201%208-3%206%208-1%201-3%2016%2011q-3%2011%202%2014l-9%2027%201%203-4%201-3%2014-4-1%206%2013%205%202%202-9%204%201-3%207%203%2012h-3l-1-8-3%201-2%204-6-4%203-5-4-1-8%208%202%203-3%206%203%201%201%208%204-1-2%207%201%204%203-1%203%205-5%207%205%202-6%209-6%201%202%205h-2l-1-4-4%201%201%207%209%201q-6%203%202%207l-4%204-3-2%205-2-9-6-4%206q9%204%203%207l-1%209-3-5-3%201-2%204-3%201%202%205-1%206q-1-9-12-7v4q-4-6-9%204l-3%206%201-4%202-4-6-4-7%205-2-7-4%201%203%205-4%201-4-1%204%208%202-2%208%207%206%201%204%2015-3%2015-6-3-1%203-5-2%201%204%202%207-6-4-25-13%205-3-3-4%208-3-10-7-1-4q-16-3-22-17l-1%204%2022%2024v5l-5%202%201-3-5%202-16-13-21-41%202-5-10-5q-12-14-14-39l1-3-39-5-6-4%209-1%202%203h20l10-4%202-4%202%205-4%201%206%202%204-11q-8-5-7-17l2-5q-7-2-5-15h3l12%2029v8l16%2020%2014%203-1-4%201-4%204-1-3-7%209-13%2028-14-17-4%201-4q8%206%2024%202l4-8-3-7%203-3v-34l-6-13-10-5q-9%205-5%2010l-20%208-2%204-6%201-1%204-11-1%201-4%2014-4%201-3%204-1-14-4-7%202-5-2h-5l-7-3-2%208-6-1%203-7q6-9%2022-7l-2%205-5-2-6%203%206%204%2015-4-2-7%2024-5-1-3%2011%203q-6%203%201%206l4-1q9-6%208-21l3%2013q9%201%2011-7l1-3%202%205%203-8%206-3v-22l-6-6-4-1%201-4q-22%204-36%2015l-15%202-12%207h-9l-10%208-4-2-11%2014-7-3v3l4%201-6%204q-4-8-9-4l-5-12%205-3-12-14h7l-1%204%208%202%203-18-1-6-5%202%201-3-1-4-8%206-5%2012v12l12%2036v17l-5-2-2-5%202-12h-2l-2%204-6-11%202-4-4-1%202-10h-4l2-5-2-7-5-14%205-3-3-5v-4q2-13-5-17h5l3-5-9-4-4%201%202%204q-3-5-6%201l1%204-6-1%207-12-7-3%207-10%202-21v-5l4-9%201%204-1%204%204-2q3-11-3-14l8-2%203-11%204-2-5-2%2014-10%204-8%209-4-2-3%208%202%204-5Zm-24%2027-1%204%204%201-3-5Zm-2%209v8l4-1-4-7Zm42%2015-6%203-1%202-16%2010%201%203-1%205%202%201%204%206-2%2010h6l-4%207%204-1-1%204%203%201%201-4%207-1%203-6-7-5%202-12%2017-7-2-2%204-3-5-4-1%204-7%204-3-1%206-4%202-6-6%203v-7Zm9%200-1%204h4l-3-4Zm-34%207-8%209%2011-8-3-1Zm123%209v3l6-1-6-2Zm-138%203q-8%204%200%208l5-7-5-1Zm46%203-1%204%205-3-4-1Zm89%200%203%205%204-1-7-4Zm-83%205-12%205%201%207%2011-9v-3Zm86%204%202%209%209-2-11-7Zm-150%203-6%204%204%205%201-3%207-5-6-1Zm-17%205%203%2012%206-4-4-1-5-7Zm90%200-3%204%206-3-3-1Zm-17%201-4%207%205-2-1-5Zm-56%203-2%206%206-4-4-2Zm34%208%203%207%201-5-4-2Zm-30%204v4l-1%204%203-1-2-7Zm37%200-2%204%206-2-4-2Zm48%206v6l4-5-4-1Zm-37%202-11%202%201%204-8%206-1%203-4%202%202%205%204-7q4%204%208-3l3%202%208-6-4-2%203-2%201-2-2-2Zm-40%202-1%204%206-3-5-1Zm-5%208-5%208%202%201%204-7%209-1-10-1Zm73%202v2l7-2h-7Zm-53%207-1%206h3l-2-6Zm140%2019q-8%201-6%2011%209%204%202%208l4%201%202%203%202%201h6l5-9%204%203%204-7%201-3-8%204v-5q-2-8-16-7Zm-20%2012v4l-1%204%208-4-7-4Zm24%2024-12%206-1%205%204-3%205%203%2014-9-10-2Zm-94%203%208%208%203-5%207%202%201-4-19-1Zm114%208-4%206-13%205-9-4-19-3-4%207%209%207-3%2012q-1%209%207%2011l4-3v4q3%207%206%201l9%2012q13-14%2019-35l-3-5%204-15h-3Zm7%2019-1%205h3l-2-5Zm-55%209-1%204-4%202-2%205%2010%202%205%208-16%206-5%208-4%202-3%206h8l4%203%208-4-1%203%204%201%201-3q4%203%208-4l3%203%201-4v-9l-16-29Zm19%2022-1%204%209%2011%203-2-7-12-4-1Zm17%209%203%206%201-4-4-2Zm-24%2011-3%204%204-1-1-3Zm-20%2010-1%204%202-2-1-2Zm24%200-7%206-21%206v2l12-2%2012%202h7l13-9-13-1-3-4Zm-13%2014-4%206%205-3-1-3Zm-11%202-4%205-5-3h-5l-5%203-5-3-16%203q-7%203-2%205l-2%2011%204%202-2%202%207%202v4l4%201%201%203h4l4%201-1-3%204-1%201%203%204%201%206-8%204-1h4l1-4-1-3%208%203q4-7%207%201l1-3%204-1%201-4%205-3-2-3q-11-1-12%207v-7l-11-1%206-3-3-5-4-1Zm17%200-1%204%205-3-4-1Zm-5%205v4l4-3-4-1Zm15%200-1%204%204%201%201-4-4-1Zm-125%207%201%2013%203%202%204%201q0-11-8-16Zm45%202-1%205-5%202%202%204-4%203%202%205h8l-3-5%203-7-2-7Zm101%200v7h2l-2-7Zm-119%203-2%204%204%202-2-6Zm125%203-2%203-6%202%202%202q4%205%207-2l-1-5Zm-121%204-2%204%204%201-2-5Zm78%203-2%206h3l-1-6Zm-37%209v5l6-1-6-4Zm38%200%201%209h3l-4-9Zm-13%203-7%208%204%201%204-5-1-4Zm33%200-1%204%204%201-3-5Zm-48%202-2%204%206-2-4-2Zm-10%203%202%204%201-3-3-1Zm-36%2010%203%205v-4l-3-1Zm62%200v4l-5%201%204%201%202%202-1-8Zm-74%209-1%204%204%201-3-5Zm48%205-6%206%204%208%204-11-2-3Zm-20%204-1%206%203-2-2-4Zm22%200v8q8-4%200-8Zm27%200-3%204%204%203-1-7Zm-43%203%201%208h3l-4-8Zm-19%203-2%204h3l-1-4Zm25%202-2%206%208%201%206%203%207-4-4-6-7%204-8-4Zm-28%207%203%206v-5l-3-1Zm40%2027%203%204q11%200%2012%208l2-7-17-5Z%22%20class%3D%22light%22%2F%3E%3Cpath%20d%3D%22m221%2067%204%201-7%205%203-6ZM228%2084l7%204-4-2-3-2ZM214%20106l6%203-8%201%202-4ZM347%20108l1%2011q10%203%2011%2016l4-2-3%205%203%205-8%207%203%203%201%203%202-7%204%201q2%209-4%2011l-8-3-1-9-4%206v5l-1%204-1-9%205-12h-5l7-17-7-5%201-13ZM354%20166l1%204-3%206-1-4%203-6ZM361%20166l-1%204-1%203-1-3%203-4ZM149%20188l3%201-1%206-2-7ZM199%20212l4%201-10%207-1%204q-7%206-22%205v-2h8l21-15ZM151%20280l7%209-7-9ZM352%20287l2%205%207-3-4%208-6-4%201-6ZM226%20292l1%203-15%2026-4-1%202-12%2011-14%205-2ZM361%20309l-2%205%202-5ZM359%20318q6%204%205%2015l4%201-8%203-5%207-2%2019q6%204-2%207l-2%204-6-11%204%201%204-1-6-13-8%202%203-5%205-2%203%201%203-7-5-2%201-4%205%202%201-3-1-4q4%207%208-4l-1-6ZM272%20352l6%201-6%204v-5ZM257%20355l4%201-1%204-3-5Z%22%20class%3D%22light%22%2F%3E%3Cpath%20d%3D%22m340%20355%206%203-4%202-2-5ZM325%20384l1%206h-2l1-6ZM313%20418l3%204-7-1%204-3ZM294%20430l1%206h-2l1-6ZM296%20444l1%204-3%201%202-5ZM291%20451l6%202%203%209v10l-1%204-9-2%201-3-3-1-2-4-6%204%2010-8%203-7-2-4Z%22%20class%3D%22light%22%2F%3E%3Cpath%20d%3D%22m308%20451%204%206-5%2010h5l-4%206-3%201-2%204-1-13%203-5q-7-4%203-9ZM284%20456l4%201-5%203%201-4Z%22%20class%3D%22light%22%2F%3E%3Cpath%20d%3D%22M122%20273%20257%2011v3l-3%201%201%206%2031-2-3%206%201%203%204-1%201%204%204-2%203%207%2010%202%203-1c-3%202-3%204%202%206l36%2019h12l16%20103-3%207%203%205-4%208-13%202%206%203s15%20112%206%20110l1%204-3%201c2%204%207%206%2014%205l-1%206-4%201%205%203-1%203h-5l-4%201%208%203-6%201c-3-4-5-3-8%203l-3-2%205-19-5-10%203-3h12l2-18v-13l-2%206-1-8%203-7c-2-10%200-41%200-41l-2%2011-7-3-6%204%2015%202-2%209-2-5-6%203v5l1%206%204%202-3%204%203%205-3%207%203%205-4%2014-14-3%201%204-1%203c-3-6-6-6-9-1l3%207-5%203%201%203%204-1-3%2010h3l3-11%204%201-7%2015%202%205-5%202-1%204-1-6v-5l-4-11-5%202%204-6-3-5%203-7%205-9c-3-16-2-28%202-37h-2l-1%204-2-4%203-5-8-7%203-2-1-9-4%201%204-13%203%201-5-7%203-7v-5l2-5c-4-2-3-5%203-7l1-6%202%2010%203-5c6%201%2010-1%2011-6%203-5%204-13%202-24l-2-10v-5l-2-6-2%205-2-10-6-3%202-5-2-8%204-9-7-5-1-6-6%208%205%203c2%2010%201%2017-5%2019l2%207-6%2011-3%201-2%204-4-10-27%203-11-6%2013-1%204%201-1-6-4-1%205-3-6-8-5%202v-2l4-2-18-10-5%207-5-3-8%204-5%2019c3%202%203%204-2%206-6-1-10%201-12%205l-7-2-14%209%203-6-3-3-4%201%201-4%205-2%202%207%204-6-6-8-5%202-2-5-4%202%201-7c10%202%2017%201%2021-3l-17-5%2019-2-1-6-5-3-1%204%201%203c-2-4-6-6-13-6l10-2-20-5%2011-1%2033%2011%201%203%201-6-29-12%205-2-5-3%201-3%2015%205%206-4-2-7%204%202%202%206c4-2%204-4%201-6l1-3%204%206-2%203%205-2%209%206c1-9-2-15-9-16l-3-1%202-7-10-3%209-1%204%201%201-8%206-1-1-6-3%204-10-7-4%203-12-10v5l-20-3-9%203c-3-6-6-7-9-2l1%204-11%201-1%204-6%201%201%204-9%202h-5c-10-1-17%201-19%207l-21%2016-2%205%204%202-12%208%201%203%204-1c-4%201-6%205-5%2012l-8%209-4%201%205%202-1%2014-4%201-2%207%205%202-4%209-6%201%207%205-2%2017%205%2010%203%2010%204-1-1%204%206%201v10l7%209-4%2011c-6-1-8-3-8-3s3%2048%201%2057Zm97-252v8l6-4-6-4Zm12%200v2l14-1-14-1Zm46%2015-1%204%2010%202%202%204%204%202%201%204%2011%202-1-2%202-8-28-8Zm7%2014-3%204%204-1-1-3Zm21%204v4l4%203-4-7Zm6%200%206%2015%204-5-10-10Zm-25%203-1%204%208%206-7-10Zm52%203-2%2011-6-4-3%204%2011%206%202%206-2-2-4%207%206%203%203-6-5-25Zm-69%202%203%205%204-2-7-3Zm47%2010-1%204%202%201-1-5Zm-63%205%202%207%206-1-8-6Zm60%202-4%204%207%201-3-5Zm-48%202-4%204%204%202%204%201-4-7Zm65%200-2%204-3%202-1%205%204%201%202%206%201-7-4-3%204-1-1-7Zm29%200-1%2019h2l-1-19Zm-73%206%203%204%201-3-4-1Zm-172%202%206%204%201-4h-7Zm255%2017v2-2Zm-135%209-1%207h1v-7Zm77%208-3%204%207-3-4-1Zm64%2038v-12l2%202-2%2010Zm-140-37v3l7-1-7-2Zm-128%2052-1%204%206-3-5-1Zm237%205-1%205%204%202%201-6-4-1Zm-230%209v4l3%202-3-6Zm255%2010v15l9-3%201-6-2%202-4-7-4-1Zm-19%2048-2%208h3l-1-8Zm0%2019v18l1-11c4-2%203-4-1-7ZM245%2055l5%207-5-7Z%22%20class%3D%22dark%22%2F%3E%3Cpath%20d%3D%22m207%2089%208%201-1%204-7-3v-2ZM345%20154l1%208h-3l2-8ZM291%20224l8%203%204-3%202%204-6%201-4-1-1%203-5-2-7%207q-13-2-17%205l-1-4%2015-10%2012-3ZM134%20229l6%208%203%2032%2011%2018%208%204-8%201q-4-6-7%201l2%204%2012-3q5%202%203%2011l-3-1-6%201-4%206v-5l-8%202%202%202v19l4%204%203-1-1%203q-6%207-19%205l-9-3%208-5q3-12-3-15v-5l-7-33v-15l5-7%201-21q3%206%206-1l1-6ZM354%20398l-2%2012-6%206c1%209-1%2015-6%2018l-4%202-5%209v5l-6%2016-5-12-12-5-6%204%201-4-3-1-1-4-6-1%201-4%208-6%201-6%2014-6v-5l-3-4%202-7%203%202%201-6%204%201%201-4%203%205%201-8-3-8%205-14-2-5v-5l2-5-5-2%202-9%204%2010%202-6-4-8-4%201%204-6%204%201%201-6%205%2010%203-2-3%206-4%202%2013%2027%205-9%201%2013-4%2012%203%206ZM277%20299l8%206-5%203%202%203-17%203-1-4%2013-11ZM296%20328l4%201-11%204v-2l7-3ZM366%20335l4%202-5%202%201-4ZM359%20343l1%203-3%209-2-6%204-6Z%22%20class%3D%22dark%22%2F%3E%3Cpath%20d%3D%22m320%20384%202%203-4%202%202-5ZM316%20393l-2%204-1%204-1-4%204-4ZM308%20418l1%203-4%203%203-6ZM219%20427l28%2023-9%201-14-17-6-3%201-4Z%22%20class%3D%22dark%22%2F%3E%3Cpath%20d%3D%22m219%2021%206%204-6%203v-7ZM231%2021l13%201-13%201v-2ZM207%2026q3%206%2013%206l-18%206-5-2-4%201%202-4%2010-1q-5-3%202-6ZM241%2026l3%201%201%204%2010%207%202-5%2010%207%203-4%201%206-7%202-2%206-11%201%2013%205h-5l1%206%2011%209-3%204%202%204-10-5-5-2-4%201-1-6-2%207-7%203-13-5-1%203%205%203-5%202%2029%2012-1%206-2-4h-8q-4-9-17-10l-4%202v-5l-5%203-5-3-2%205%2018%204-10%202%2010%203%201%203%204-1-3-5%204%202%203%201-1%206-18%201%2017%205q-4%205-16%203l-7-4-7%202v-2l3-2-8-13-3%205-4%202%201-3-1-4-20%207%205-7%2010-5q3%206%207-2l5%202%201-3-7-5%2012-5-5-7%2016-6q3%208%2017%205l7-3%204-1-5-7h2l6%208%203-5-6-3-3-8%206-8-7%202-6-3%204-1q3%205%206-2l-5-2-1-6Zm6%2036-4%203v2l6-2-2-3Zm-9%203-4%206%205-3-1-3Zm17%200-1%203%204%203-3-6Zm-33%202-1%204%204-3-3-1Zm-3%205v5l6-1-6-4Zm-8%203-4%202-3%204%2014-4-7-2Zm-4%2014v2l7%202%201-4h-8Zm9%204-8%204%2011%203%202-5-5-2ZM224%2028l6%201-6%202v-3Z%22%20class%3D%22gray%22%2F%3E%3Cpath%20d%3D%22m236%2031%203%201-6%204%203-5ZM187%2038l3%205-3-5ZM286%2040l19%204-6%2011-6-4-2-3-3-2-2-6ZM175%2043l1%203-3%202%202-5ZM180%2043l6%201q-5%208-6-1ZM163%2045l6%201q-5%208-6-1ZM279%2050l6%201-1%204-5-5ZM311%2055l6%203%201%204%204%201-4%206-7-12-3%205-2-5%205-2ZM286%2057l8%2010-5%202q4-4-4-8l1-4ZM337%2060l5%2019q3-5%206%201h-5l-2%2010%205-2%201-4%201%204-1%203%204-1%201-4%201%204-1%204%203%201-4%209%207%205-7%205%203%206%204-1-3-5h3l2%205-3%208-3-4-6-4-3-25-11-6%204-10-12-7%204-4%208%206-1-13ZM270%2062l6%204-4%201-2-5ZM139%2072l-2%205%202-5ZM316%2072l2%205-4-2%202-3ZM274%2074l5%207-5-7ZM253%2077l7%204q3-5%206%202l4%206%203%201-3%201-16-8-1-6ZM311%2077l5%207-11-4%206-3ZM328%2077l-2%203-1%204-1-4%204-3ZM132%2079l1%204-9%2015-1-6%205-7h-5l1-4%208-2Z%22%20class%3D%22gray%22%2F%3E%3Cpath%20d%3D%22M357%2079q7%204%203%2021l-3%206-2-4q7-4%203-19l-1-4ZM330%2081l1%207-5%202%205%202-1%204-6-4%201-6%204-1%201-4ZM286%2086l4%202-1%203-3-5ZM282%2094l8%206%201%203%205-2q4%207%209%203v5l2%205-5%203%205%202%201%206%205-2v4l16%202%203%208%203-5%206-3q-6-4%202-8l-2-7%205-2%202%2021-2%205%205%208-3%207h3l1-4%205%2012%208-1-1%206-4%201%201%204-7-5-1%204%205%202-1%204-4-1-1-4-1%208%201%204-4-1-1%206-5-3-4%206%203%208q-6%203%202%207l-1%204-4-2-2%2012h5l-3%2010q12%208%2013%2027h-3l-1-9-1%2031-8%2012%203%207-3%205%205%202%205%2012-2%207h2l1-3%206-1-3-6%208-2-5-2-3-6-3%207-3-13%205-3-3-7v-5l1-15q7%203%202%206-3%2012%204%2014h-4l3%209%2010-5%201%206v5l3%2012-4%206-4%201-8%2013-5-2q1%2011-5%2014l1-3-1-4-4%201-3-8-3%207-3-1%202%205-8%2013-1-4q6-3-3-7l-1-8-4-1%205-5-6-9%203%203%209-5%204-1-5-12h5l3-14%204-1-2-5%209-24q-5-3-2-14l-9-9-7-2-2%204-9-1q7-2%205-12l-3-1q-11%207-28%206l-4%206-12%207-5-2-2%207-9-16%204-6%2017-4-3%204-10%206%201%204q4-7%2017-5l7-7%205%202%205-7v5l6-1%201-4%207%203h5l7-5%204%201%207-27q-5-3-2-14v-5q2-21-5-31l2-8-35-6-3-3%201-4q4%207%2017%205v-3l-6-3-2-4-13-1-1-4q-10%202-11-6l6%204%2010%202%202-5-7-2-4%201%201-3-9-3-3%205-3%201-3%208%203%207-4%206-3%201q6%204-4%208l-5-2-2%207-3-7-3%206%202%203-8%208q-10-1-11%206l-2%204-2-5-5%207%201-4%206-8%204%201-4-6-7%203v-3l6-3-1-7-10%205-9%203v-3l8-3-3-6-10%207%205-7%203-2-3-6-4%202%205-8-6-3-11%203%201-3%2015-8%205%203%203-1%201%206%204-1%201%203%205-2%206%2011-6%208%2017-7q4%206%207-3%209%202%2011-3l-2-7%206-16%207-3%205%203%205-7Zm-71%2033v3l7-2-7-1Zm11%200-1%204%204-3-3-1Zm122%2027-1%208%204%201%204-5-7-4Zm3%2017-1%206-2%204%204-1-1-9Zm7%20128-2%204%206-2-4-2Zm5%204%203%208%201-6-4-2Zm-21%2011-3%2010-5-3-2%204v4l10%201%202%206%206-4-4-2-3-8%201-7-2-1ZM120%20101l-2%203-1%204-6-1%209-6ZM361%20103l4%206-5%203%203-5-2-4Z%22%20class%3D%22gray%22%2F%3E%3Cpath%20d%3D%22m236%20113-1%204-2%206-1-6%204-4ZM279%20115l11%209-4-1-7-8ZM112%20123l4%201q-2%2014%206%2018l4%201-6%204-5-12-4%201%203-5h-5l3-8ZM236%20125l6%201-6%201v-2ZM361%20125l4%208h-7l3-8ZM134%20130l6%201-7%205%201%203%206%204-1%206-6-1%201-4-5%203%202-9-3-5%206-3ZM154%20137l-3%205%203-5Z%22%20class%3D%22gray%22%2F%3E%3Cpath%20d%3D%22m105%20142%2011%204-2%207%206-4%204-2q11%204%204%208l-2%207%205%2015-3%205%201%203-3%202%207%2017-7-5-2-11-8-4-5-12q6-3-2-7l5-10-6-11-3-2ZM361%20144l4%202-1%203-4%201-1%206-1-8%203-4ZM195%20156l-3%205%203-5ZM151%20159l-5%207-1-4%206-3ZM185%20159l4%201-2%204-3%201%205%202-9%206-2-2q-5%207-9%204l-3%206-4-2-1%206-1-6%207-4-3-5%204%201%208-6-1-4%2010-2ZM151%20166l1%206%202%204%203%201v5l-2%2017h5q-5%208-9-1-10%201-11-7l3-14-4%201-4-1%206-8%2010-3Zm-7%205v5l7-5h-7Zm5%2017%202%208%201-7-3-1ZM374%20171l-3%205%203-5Z%22%20class%3D%22gray%22%2F%3E%3Cpath%20d%3D%22M163%20190v8q-7-4%200-8ZM122%20219l1%204-3%201%202-5ZM129%20219l4%201%207%2015-5-2-1-4-5%2010-3-2-2%204-3-1q5-9%2010-5l-2-6-3-1%203-9ZM120%20227l-3%204-3-1%206-3ZM199%20236l6%201-1%206-8-1%203-6ZM212%20236l18%201-2%204-7-2-1%203%201%204-9-10ZM190%20239l3%201-3%206-5-3-5%203v-3l10-4ZM277%20272l18%2031-2%207-4%208-7-4-3%204-5-2-4%202-5-2h-5l-4-1%204-6%204-1%206-9%2015-6-6-8-8-2%201-6%204-1%201-4Zm0%2027-13%2011%201%204%2016-3v-4l4-2-8-6ZM151%20289l13%204-1%204-12-3-4%201%204-6ZM374%20294l6%201-6%202v-3ZM371%20299l9%204-6%201-3-5ZM156%20304l13%206-2%2010%207%2012-2%209%201%204-17-5-2%203h-20v-3q14%201%2018-6l-1-3q-3%205-6-2v-19l-2-2%208-2%204%202%201-4Zm9%2032-1%202%204%202-3-4ZM291%20321l5%2010%2010-3-3%205q-3%206-14%205l-12-3-12%203v-3l17-4%202%202%209-9-2-3Zm-2%209v3l6-1-6-2ZM361%20338l2%206h-5l2%207h-2l-3-7%206-6ZM173%20347l1%204-4%209-1-7%204-6ZM330%20350l4%201-4%209-4-2%205-2-1-6ZM318%20355l1%206h-2l1-6ZM357%20355l3%2020-5%203q3-12-2-15l4-8ZM323%20360l2%207%203-5q7%204%200%207l-5%203-4-2%203%205-6%201-4-1%205-2%202-5-5-2%208-3%201-3ZM347%20369l4%206-5-2%201-4Z%22%20class%3D%22gray%22%2F%3E%3Cpath%20d%3D%22m328%20372%203%201-3%2013-4-1%205%2017%205%205-8-5-1-4-2%205-3-5-3%201%202%208q-8%203-2%207l-1%204-4%201%202%205-12%204-6%2011-3%202%202%204-4%202q2-12-5-15l-3%201v5l-4%209-5-10q-10%201-12-7l-3%201-2-4h-4l-8%205-15-8-3-8%206-3v2l-3%201%203%209%203-5%203%201-2-7%207-5%205%207-1%204%206%204%201%203%202-5%205%203-1-4%201-3%204%201%201%206%206-4-5-9%205%202%205%2014-1%204%203-1%203-7-1-4q3%206%207-2l7%202%204-1q-6%203%201%206l1-9-1-3%204-1%201-4%203%201%202%204%203-16h-5l4-6%203%205q7-1%206-11l-5-3-1%207-4-2%201-6%2011-3%204-6Zm-85%2040-1%2010-1%202%205-2-3-10Zm65%206-3%204v2l6-2-3-4Zm-19%202%203%202%201%205%202-5-6-2Zm4%2010v5h2l-2-5ZM301%20379l2%205-2-5ZM207%20393l3%202-1%203-2-5ZM190%20396l11%2013-4-1-4-1-3-11ZM219%20408l-3%205%203-5ZM291%20410l3%205-3-5ZM204%20413l14%2015-5-2-1-4-4-1-4-8ZM224%20413l1%203-4%202%203-5ZM231%20437l6%204-4%201-2-5ZM226%20439l12%2015-3-1-9-14ZM241%20444l2%205-2-5ZM226%20451l6%204-4%201-2-5ZM262%20464l8%204h4l4%202-5%202%201%204-3-2-1%204-8-14Z%22%20class%3D%22gray%22%2F%3E%3Cpath%20d%3D%22m209%2036%204%201-5%202%205%203-5%202%207%205-6%201q-1-8-12-7v5l-18%203%201%206%206%201%201%204%204%201-1%204-5-2-2%204-14%204%209%201%205-2%204%209%204%202-1%203-24%2012-5-2-4%201q6-3-1-6l-4-1%204-6-15%207%202-3%201-7%202%205%203-5%208-3v-5l3-7-4-1-2%204h-5l-4-1%2015-7%201-4%202%205q7-3%201-6l2-4%206-1%201-3q15%201%2020-6l-1-4%2012%202%205-4Zm-48%2036v5l8-1-8-4ZM231%2043l4%201-7%204%203-5Z%22%20class%3D%22beige%22%2F%3E%3Cpath%20d%3D%22m199%2050%206%204-3%206-5%202-8-4%209-2%201-6ZM219%2050l13%2011-4-1q-15%201-20-6l6-2%205-2ZM185%2052l8%202-8%201v-3ZM146%2072l3%205-4-2%201-3ZM139%2084l-2%205%202-5ZM149%2096q7%204%200%207v-7ZM185%2096l1%204-1%203%2012-5%204%204-2%206-3%201%201%204-13%204%201%203-4-1-2%2012%206%204%202-8%2010-4%201%203-14%2012-1%204-7%201-1%204-3%201-2%206-6-1%203-5-1-4%204%203-1-4%203-5-4-1-6%204%201-4-3-1%203-1q3%205%206-2l-1-8-5%202v-2l4-1-1-4-5%203%203-6%202-7%2013-8%201-4%205-2Zm7%207-5%203-1%205%208-4-2-4ZM124%2098l2%206-4%202%201-4%201-4ZM144%2098l-1%204-2%204-1-4%204-4ZM161%20103l6%204q-6-4-11%206l-9%206-1%204q-7-4%200-8l15-12ZM347%20123l5%202%203-1v5l-1%203-2-5-3%2010-2-14ZM284%20127l11%206-9%204-2-10ZM197%20132l1%206-3%206%201-3-3-5%204-4ZM204%20132l-2%205%202-5ZM190%20137l1%204-5%202%204-6ZM158%20139l2%207-4%203-1-6%203-4ZM199%20144l-4%208%204-8ZM216%20144l9%204-10%202%201-6ZM139%20152l1%206-3%201%201-4%201-3ZM175%20152l4%201-5%202%201-3ZM204%20154l3%205-6-1%203-4ZM212%20169l8%203-6%201-2-4ZM265%20178l3%201-1%204%209%206v22l-4%203-4%202-1%206-2-5-8%2010-6-2-1-11q1%2015-8%2021l14%2010%203%209v5q3%2023-3%2036l3%208-4%203h-19l-5-2-1%204%2017%204-34%2020-3%209%203%205-5%203%202%204-8%202-13-9-10-14v-8l-16-35-16-13-7-24v-12l4-6%201%2011v5l4%206%201-19-12-36v-12h2v5l12%2014-5%203%207%2013h9l4-1-5-3%206-1q4%207%208-3l-1-4q3%205%206-1l2-4q3%206%207-2l14-3%2038-15-1-4%207%202%2017-7Zm-66%2034-1%205%205-4-4-1Zm-9%208q-4%208-19%207v2q15%202%2021-5l2-4h-4Zm36%207%201%204-25%205h-15l-15%2011%201%204%2014-6h5l6%203%206-3%2014%205-4%201-2%204-13%203-1%204%2012%201v-4l6-1%202-3%2011-4-2-4%204%201%207-3q-4-4%204-8l-4-1q-7-3-1-5l-11-4Zm0%2064-4%203-12%2013-2%2012%203%202%2016-26-1-4ZM301%20198q13-3%2016%206l1%206%207-5-1%203-4%206-4-2-5%2010h-5l-4-2-1-3-4-1q6-4-2-8-1-9%206-10ZM183%20200l-3%205%203-5ZM282%20210l6%203-9%204%201-4%202-3ZM134%20212l1%208h-2l-2-4%203-4ZM137%20224l2%205-2-5ZM306%20234l8%201-13%208-5-2-5%202%203-4%2012-5ZM325%20243l4%202-5%2014%202%205q-5%2021-18%2035l-9-12q-4%206-8-2l-8-6%202-17-9-8%203-6%2020%203%209%205%2014-6%203-7ZM332%20263l2%206h-3l1-6ZM361%20287l7%201-9%204-6-1%208-4Z%22%20class%3D%22beige%22%2F%3E%3Cpath%20d%3D%22m296%20294%204%201%207%2013-4%201-8-11%201-4ZM313%20304l4%201-1%204-3-5ZM371%20304l6%201-6%201v-2ZM270%20323l1%204-4%201%203-5ZM311%20333l3%208h-2l-1-8ZM279%20338l1%203-9%208%208%201%203-5%203-1%201-4%204%201-10%2010v5l9-6%206-1%201-4%204%201-1%204-4%201-1%204-4%201-1%204-4%201-1%203q-4-8-7-2l-7-2%201%203-1%204h-5l-4%201-6%208-4-1-1-3-3%201%201%203-4%202%205%202-6%201-5-9-3-2-2-3-6-1%201-4-3-1%202-10q-5-3%201-6l17-2%205%202%205-2h5l5%202%207-5%202%205%205-7Zm-7%2014v5l6-4-6-1Zm-15%202%203%206%201-4-4-2ZM347%20338l1%208h-2l1-8ZM340%20350l8%203%203%2010-4%201-2-7-7-4%202-3ZM173%20355l6%2013-4-1-3-1%201-11ZM195%20355l12%2014%206-3-3-5%205-3%201-3%202%206-3%207%203%205h-8l-1-4-2%205-3-5-3-1-6-13ZM279%20367l1%206h-2l1-6ZM187%20374l-2%205%202-5ZM270%20376l-2%204-3%209-4-2%209-11ZM282%20376l3%209h-2l-1-9ZM253%20381l3%201-5%203%202-4ZM243%20384l4%201-2%204-2-5ZM294%20384l1%203-5%203%204-6ZM270%20393l1%209-4-1-5%202v-7l5%202%203-5ZM207%20427l3%201-1%204-2-5ZM248%20454l16%206-2%204-12-5-2-5ZM272%20464l2%204-2-4Z%22%20class%3D%22beige%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
				Andrey Ozornin
			</h1>
			<p>
				Product Engineer at <a href="https://framer.com/" class="company-link framer-link">Framer</a>, Amsterdam. 
				Previously at
				<a href="https://miro.com" class="company-link miro-link">Miro</a>, 
				<a href="https://booking.com" class="company-link booking-link">Booking</a>, 
				<a href="https://genestack.com" class="company-link genestack-link">Genestack</a>, 
				<a href="https://wrike.com" class="company-link wrike-link">Wrike</a>, 
				<a href="https://yandex.com" class="company-link yandex-link">Yandex</a>.
			</p>
			<p>
				I code for web, write and make music.
			</p>
			<section class="overview">
				<div>
					<h3>Latest posts</h3>
					<ul>
						{
							posts.map((post) => (
								<li>
									{post.data.emoji ?? '📝'}
									<a href={`/blog/${post.slug}/`}>{post.data.title}</a>{
										post.data.description &&
										<>. {post.data.description}</>
									}
								</li>
							))
						}
					</ul>
					<a href="/blog">more</a>
				</div>
				<div>
					<h3>Latest projects</h3>
					<ul>
						<li>I am writing a book on debugging web applications. To be published in 2025 by <a href="https://pragprog.com">Pragmatic Programmers</a></li>
						<li>I organized <a href="https://hightechmess.com/">High Tech Mess</a>, a mini-festival of art and technologies</li>
						<li>I played live at <a href="https://youtu.be/Ytjqds8gVOU">SP Sessions</a> made possible by <a href="https://59perlen.com">59perlen</a></li>
						<li>I released <a href="https://threecoloredsquares.bandcamp.com/track/novaya-zemlya">Novaya Zemlya</a>, equally influenced by contemporary classical and dance music</li>
					</ul>
				</div>
			</section>
		</main>
		<style>
			.company-link {
				position: relative;
				transition: color .1s;
				line-height: 1;
				display: inline-block;
				&::before {
					transition: all .1s;
					content: '';
					position: absolute;
					background-color: inherit;
					width: 100%;
					height: 100%;
					box-sizing: content-box;
					padding: 0 4px;
					margin-left: -4px;
					top: 0;
					left: 0;
					border-radius: 50%;
					transform: scale(.5, 0);
					z-index: -1;
				}
				&:hover::before {
					border-radius: 0;
					transform: scale(1);
				}
			}
			.framer-link:hover {
				color: white;
				&::before {
					background-color: black;
				}
			}
			.miro-link:hover {
				color: black;
				&::before {
					background-color: yellow;
				}
			}
			.booking-link:hover {
				color: white;
				&::before {
					background-color: blue;
				}
			}
			.genestack-link:hover {
				color: white;
				&::before {
					background-color: green;
				}
			}
			.wrike-link:hover {
				color: white;
				&::before {
					background-color: green;
				}
			}
			.yandex-link:hover {
				color: black;
				&::before {
					background-color: yellow;
				}
				&::first-letter {
					color: red;
				}
			}

			.overview {
				display: flex;
				margin-top: 2em;
				gap: 1em;

				& > div {
					flex: 1;
				}

				& ul {
					padding-left: 0;
				}

				& li {
					list-style: none;
					padding-bottom: .5em;
				}

				& h3 {
					font-size: 1.5em;
				}
			}

			@media (max-width: 720px) {
				.overview {
					flex-direction: column;
				}
			}
		</style>
		<Footer />
	</body>
</html>
