---
import type {HeadingTree} from '../env'

type Props = {headings: HeadingTree[], title?: string};

const {headings, title} = Astro.props
---
<style>
    ul {
        list-style: none;
        padding-left: 1em;

        &.top {
            margin-block-start: 0;
            padding-left: 0;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            border-bottom: 1px dashed;
        }
    }
</style>
{title ? (
    /* if `title` is present, it's the top-level header */
    <ul class="top">
        <li><a href="#">{title}</a></li>
        <li><Astro.self headings={headings} /></li>
    </ul>
) : (
    <ul>
        {
            headings.map((heading) => (
                    <li>
                        <a href={`#${heading.slug}`}>{heading.text}</a>
                        {heading.subheadings.length > 0 && <Astro.self headings={heading.subheadings} />}
                    </li>
            ))
        }
    </ul>
)}
