---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import License from '../components/License.astro';

const { title, description, pubDate, updatedDate, heroImage, license, original, emoji, tags } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description ?? ''} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
				display: flex;
				justify-content: center;
				& img {
					display: block;
					width: auto;
					margin: 0 auto;
					border-radius: 12px;
					box-shadow: var(--box-shadow);
				}

				& .hero-constraint {
					max-width: 1020px;
				}
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
				& h1 {
					margin: 0 0 0.5em 0;
				}
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.metadata {
				font-size: .8em;
				color: rgb(var(--gray-dark));
				display: flex;
				width: 100%;
				justify-content: space-around;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					<div class="hero-constraint">
						{heroImage && <img width={1020} height={510} src={heroImage} alt={description} />}
					</div>
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{emoji ? `${emoji} ` : ''}{title}</h1>
						<div class="metadata">
							{license && <License license={license} />}
							{original && <span>First published at <a href={original}>{(new URL(original)).hostname}</a></span>}
						</div>
						<hr />
					</div>
					<slot />
					{tags && (
						<div class="tags">
							{
								tags.map((tag: string) =>
									<a href={`/blog/tag/${tag}`}>
										{tag.replace('-', ' ')}
									</a>
								)
							}
						</div>
					)}
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
