---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import {type LinkData, linksData} from '../../../content/links/linksData';
import {SITE_DESCRIPTION, SITE_TITLE} from "../../../consts";

export async function getStaticPaths() {
    const tags = linksData.reduce((acc, link) => {
        for (const tag of link.tags) {
            if (!acc.has(tag)) acc.set(tag, [])
            acc.get(tag)!.push(link);
        }
        return acc;
    }, new Map<string, LinkData[]>())

    return [...tags.keys()].map((tag: string) => ({
        params: { slug: tag },
        props: {
            links: tags.get(tag)!,
            activeTag: tag,
            tags,
        },
    }));
}

const {links, activeTag, tags} = Astro.props

---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={`Links — ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <style>
        .tag {
            margin-right: .25em;
        }
        .tag > a.active {
            background-color: rgb(var(--accent-dark));
            color: var(--white);
        }
        blockquote {
            font-size: 1em;
        }
    </style>
</head>
<body>
<Header />
<main>
    <h1>{activeTag.replace('-', ' ')}</h1>
    <p class="tags">{
        [...tags.keys()]
            .filter((tag) => tags.get(tag)!.length > 1)
            .sort((a,b) => tags.get(b)!.length - tags.get(a)!.length)
            .slice(0, 10)
            .map((tag) =>
                (<span class="tag"><a href={`/links/tag/${tag}`} class:list={{
                    active: tag === activeTag,
                }}>{tag.replace('-', ' ')}</a><sup>{tags.get(tag)!.length}</sup></span>)
            )
    }
    <ul>
        {
            links.map(({url, title, comment, quote}) => (
                    <li>
                        <a href={url}>{title}</a>
                        {comment && <>— {comment}</>}
                        {quote && <blockquote>{quote}</blockquote>}
                    </li>
            ))
        }
    </ul>
</main>
<Footer />
</body>
</html>
